.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #7f81ff;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ccc;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
